
@{
    ViewData["Title"] = "Index2";
    var message = "";
    if (ViewBag.Flag == true)
    {
        message = "コントローラで true を設定";
    }
    else
    {
        message = "コントローラで false を設定";
    }
}

<h1>View 内でコードを記述する</h1>
<div>@message</div>

