
@{
    ViewData["Title"] = "Index2";
}

<h1>見出し</h1>
<p class="cls1">文章を入れる</p>
<h1>見出し</h1>
<p class="cls1">文章を入れる</p>
@section Scripts {
    <script>
        $(function () {
            $(".cls1").css("font-size", "small");
        });
    </script>
}
