
@{
    ViewData["Title"] = "Index2";
}

<h1>ここの色を変える</h1>
<p>文章を入れる</p>
<h1>ここの色も変える</h1>
<p>文章を入れる</p>

@section Scripts {
    <script>
        $(function () {
            $("h1").css("color", "red");
        });
    </script>
}
